**List comprehension**

- Writing list operation in a single line is called as list comprehension.
  
- Core processing Will be increase  When we use. Forloop and if conditions. 

- List comprehension will reduce the The processing time.

$case-1$ list with for loop

In [2]:
# append 1 to 10 numbers in a list
l=[]
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
Q10 input=['hyd','bengaluru','mumbai','chennai']
    Output=['Hyd','Bengaluru','Mumbai','Chennai']

Q2) Input.

In [4]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.title())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [5]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.upper() for i in Input]
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [6]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.title() for i in Input]
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

$Case-2$:**for-if condition**

In [ ]:
[<output> <for loop>]
[<output> <for loop> <if condition>]

In [12]:
import random
numbers=[random.randint(1,100) for i in range(5)]
even_list=[]
for i in  numbers:
    if i%2==0:
        even_list.append(i)
even_list

[54, 98, 14]

In [14]:
import random
numbers=[random.randint(1,100) for i in range(5)]
evens=[i for i in numbers if i%2==0]
odds=[i for i in numbers if i%2!=0]

In [19]:
Input=['hyd','bengaluru','mumbai','chennai']
output_1=[i for i in Input if '#' in i]
output_2=[i for i in  Input if '#' not in  i]
output1

['hyd', 'bengaluru', 'mumbai', 'chennai']

$case-3$:**for-if-else**

In [22]:
[<output> <for loop>]
[<output> <for loop> <if cond>]
[<if out> <if cond> else <else out> for loop]

In [24]:
numbers=[random.randint(1,100) for i in range(1,100)]

Input = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [i for i in Input if i % 2 == 0]
odd_numbers = [i for i in Input if i % 2 != 0]
print("Even:", even_numbers)
print("Odd:", odd_numbers)

In [2]:
marks=[45,76,89,53,67,90,82,49,33,99]
filtered_marks = [mark for mark in marks if mark >= 50]
filtered_marks

[76, 89, 53, 67, 90, 82, 99]

In [4]:
marks = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
grades = []
for mark in marks:
    if mark >= 85:
        grade = 'A'
    elif mark >= 70:
        grade = 'B'
    elif mark >= 50:
        grade = 'C'
    else:
        grade = 'F'
    grades.append(grade)
# for i, (mark, grade) in enumerate(zip(marks, grades), start=1):
    print(f"Student {i}: Mark = {mark}, Grade = {grade}")

Student 10: Mark = 45, Grade = F
Student 10: Mark = 76, Grade = B
Student 10: Mark = 89, Grade = A
Student 10: Mark = 53, Grade = C
Student 10: Mark = 67, Grade = C
Student 10: Mark = 90, Grade = A
Student 10: Mark = 82, Grade = B
Student 10: Mark = 49, Grade = F
Student 10: Mark = 33, Grade = F
Student 10: Mark = 99, Grade = A

**valuras opreators**

In [6]:
num=list(range(1,11))
summ=0
# [summ=summ+i for i in num]
# i will not support = 
# i will support == 
# i will suppoer valurus opretor :=
summ=[summ:=summ+i for i in num]
summ[-1]/len(num)

5.5

In [7]:
marks = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
summ=0
summ=[summ:=summ+i for i in marks]
summ[-1]/len(marks)

68.3

In [9]:
num=list(range(1,11))
summ=0
for i in num:
    summ=summ+1
    print(summ)
summ

1
2
3
4
5
6
7
8
9
10

10