In [13]:
names=['Ramesh','Suresh','Mahesh']
age=[20,22,24]
# Ramesh age is 20
# Suresh age is 22
for i in range(len(names)):
    print(names[i],age[i])
    print(f'the {names[i]} age is :{age[i]}')

Ramesh 20
the Ramesh age is :20
Suresh 22
the Suresh age is :22
Mahesh 24
the Mahesh age is :24

**zip**

In [14]:
names=['ramesh','suresh','mahesh']
age=[20,22,24]
# these two list are together
# ramesh is related with 20
# we can combined both in the form of zip
list(zip(names,age))

[('ramesh', 20), ('suresh', 22), ('mahesh', 24)]

In [15]:
for i in zip(names,age):
    print(i)

('ramesh', 20)
('suresh', 22)
('mahesh', 24)

In [16]:
a,b=(20,30)
a

20

In [17]:
for i,j in zip(names,age):
    print(f" {i} age is: {j}")

 ramesh age is: 20
 suresh age is: 22
 mahesh age is: 24

**pair concept**

- dictonary is the concept of related pair the items

- it is reprasentes the curly braces : { }

- two items : key and value

- dictonory is called as {key:value}pair

In [19]:
dict(zip(names,age))

{'ramesh': 20, 'suresh': 22, 'mahesh': 24}

In [20]:
d={'ramesh': 20, 'suresh': 22, 'mahesh': 24}
d

{'ramesh': 20, 'suresh': 22, 'mahesh': 24}

In [ ]:
# in above key are :ramesh ,suresh , mahesh 
#       values are :20,22,24

**Initialization.**

In [22]:
d1={'ramesh': 20, 'suresh': 22, 'mahesh': 24}
d2={20:'ramesh', 22:'suresh', 24:'mahesh'}
d2

{20: 'ramesh', 22: 'suresh', 24: 'mahesh'}

In [ ]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
dict2={20:'ramesh',22:'suresh',24:'mahesh'}
dict3={'20':'ramesh','22':'suresh','24':'mahesh'}
dict4={20:20,22:22,25:25}
dict5={'ramesh':20,'ramesh':22}
dict6={'ramesh':20,'ramesh':20}

In [25]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
dict1

{'ramesh': 20, 'suresh': 22, 'mahesh': 24}

In [26]:
len(dict1)

3

In [28]:
max(dict1)

'suresh'

In [30]:
max(dict1),ord('r'),ord('s'),ord('m')   # all leter are ord is max

('suresh', 114, 115, 109)

**keys are important**

In [31]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
sum['r','m','m']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [34]:
sorted(dict1)

['mahesh', 'ramesh', 'suresh']

In [36]:
list(reversed(dict1))   # ascci value is depend

['mahesh', 'suresh', 'ramesh']

In [40]:
dict2={20:'ramesh',22:'suresh',24:'mahesh'}
print(min(dict2))    
print(max(dict2))
print(sum(dict2))
print(sorted(dict2))
print(list(reversed(dict2)))

20
24
66
[20, 22, 24]
[24, 22, 20]

In [41]:
dict3={'20':'ramesh','22':'suresh','24':'mahesh'}
dict3

{'20': 'ramesh', '22': 'suresh', '24': 'mahesh'}

In [42]:
dict4={20:20,22:22,25:25}
dict4

{20: 20, 22: 22, 25: 25}

In [46]:
dict5={'Ramesh':20,'Ramesh':22}
dict5   # latest value are output

{'Ramesh': 22}

In [48]:
dict6={'Ramesh':20,'Ramesh':20}
dict6   # latest value are output

{'Ramesh': 20}

In [50]:
dict7={'Ramesh':20,'Suresh':20}
dict7

{'Ramesh': 20, 'Suresh': 20}

In [ ]:
dict5={'Ramesh':20,'Ramesh':22}  
dict6={'Ramesh':20,'Ramesh':20}
dict7={'Ramesh':20,'Suresh':20}

In [51]:
dict9={'Names':(['rames','suresh','mahesh'])}
dict9

{'Names': ['rames', 'suresh', 'mahesh']}

In [52]:
dict10={(['rames','suresh','mahesh']):'Names'}
dict10 

# list are mutable

TypeError: unhashable type: 'list'

In [53]:
dict11={('rames','suresh','mahesh'):'Names'}
dict11

{('rames', 'suresh', 'mahesh'): 'Names'}

In [55]:
dict12={{'Ramesh':20}:22}
dict12

TypeError: unhashable type: 'dict'

**Dictionory are mutable**

In [ ]:
{<list>:<values>} #fail mutable
{<tuple>:<values>}  # works immuntable
{<dict>:<values>}   # fail mutabel
Fast data understand the past data when new data
, when new data comes, it will predict the. When predict the answer

**Concatenation.**

In [56]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
dict2={20:'ramesh',22:'suresh',24:'mahesh'}
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [57]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
'ramesh' in dict1
'suresh' in dict1
'mahesh' in dict1

True

In [58]:
'ramesh' in ['ramesh' ,'suresh','mahesh']

True

In [59]:
for i in dict1:
    print(i)

ramesh
suresh
mahesh

**Index**

In [62]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
dict1[0]

KeyError: 0

In [65]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
dict1['ramesh']   
# dict1[key] then value will come

20

**mutable-immutable**

- we need to change the value of a specific key  then it is concider as a mutable

In [2]:
{'Ramesh':20,'Ramesh':22}

{'Ramesh': 22}

In [3]:
dict1={'ramesh':20,'suresh':22,'mahesh':24}
dict1['mahesh']=30
dict1

{'ramesh': 20, 'suresh': 22, 'mahesh': 30}

In [4]:
dict1[0:2]

KeyError: slice(0, 2, None)

**slice is not possible becouse in dict onlt key value concept**

In [5]:
dict1={'fruits':'apple'}
dict1['fruits']

'apple'

In [7]:
dict1={'fruites':['apple','cherry']}
 # key:fruites value :[apple]
dict1['fruites'][1]

'cherry'

In [8]:
dict1={'fruites':['apple','cherry']}
 # key:fruites value :[apple]
dict1['fruites'][0]

'apple'

In [18]:
dict1={'fruites':['apple','cherry','banana'],
      'cost':[20,5,2]}
# which are the lower cost item in the list
# step1:- extract the cost list 
# step2:- apply min(list)
# step3:- extract the index using list.index(min):id=2
# step4:- extract the fruites list
# step5:- apply that id

l=dict1['cost']
MIN=min(l)
ID=l.index(MIN)
dict1['fruites'][ID]

'banana'

In [21]:
d={'fruites':[{'items':['apple','cherry']}]}
d
# i want the cherry
d['fruites'][0]['items'][1]

'cherry'

In [26]:
d={'fruites':{'items':'apple'}}
# i want the cherry
d['fruites']['items']

'apple'

**methods**

In [2]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']