In [1]:
a=10
b=20
print(a)
print(b)

10
20

In [2]:
a=10
b=20
a,b

(10, 20)

In [12]:
a=10
b=20
c=a+b
print("sum of 10 ans 20 is 30") 
print("sum of a and b is c")
print("sum of",a,"and",b,"is",c)

sum of 10 ans 20 is 30
sum of a and b is c
sum of 10 and 20 is 30

In [15]:
name='saurabh'
age=21
city='hydrabad'
print("my name is",name,"im",age,"year old","come form",city)
#print("my name is",saurabh,"im",21,"year old","come form",hydrabad) ---it is not working
#my name is saurabh im 21 year old come form hydrabad

my name is saurabh im 21 year old come form hydrabad

**Method-2:format**

In [21]:
a=10
b=20
c=a+b
print("sum of 10 ans 20 is 30") 
print("sum of {}and {} is{}")  #it is work but no sum  
print("sum of {} and {} is {}".format(a,b,c))

sum of 10 ans 20 is 30
sum of {}and{}is{}
sum of 10 and 20 is 30

**Method-3:fstring**

In [22]:
a=10
b=20
c=a+b
print("sum of 10 ans 20 is 30")  
print(f"sum of {a} and {b} is {c}")

sum of 10 ans 20 is 30
sum of 10 and 20 is 30

In [28]:
a=100
b=200
print(f"mul of {a} and {b} is equle to {a+b}.")
print(f"add of {a} and {b} is equle to {a*b}.")
print(f"div of {a} and {b} is equle to {a-b}.")
print(f"sub of {a} and {b} is equle to {a/b}.")

mul of 100 and 200 is equle to 300.
add of 100 and 200 is equle to 20000.
div of 100 and 200 is equle to -100.
sub of 100 and 200 is equle to 0.5.

In [39]:
a=100
b=200
c=300
avg=(a+b+c)/3 #this formula is very imp 
print(f"The avg of {a},{b} and {c} is:{avg}")

The avg of 100,200 and 300 is:200.0

**Round**

In [40]:
round(34.47)

34

In [41]:
round(34.57)

35

In [43]:
round(34.47777,1) #34.4
round(34.47777,2) #34.48
round(34.47777,3) #34.478

34.478

**wap ask the user take 3 numbers find the average**

In [3]:
a=100
b=200
c=300
avg1=(a+b+c)/3                   #this formula is very imp 
print(f"The avg of {a},{b} and {c} is:{avg1}")

The avg of 100,200 and 300 is:200.0

**wap ask the user take the radius find the area of circle**

In [58]:
r=10
pi=3.14
areaofcircle=(pi*r*r)
print(f"the area of circle is:{areaofcircle}")
print(areaofcircle)

the area of circle is:314.0
314.0

**wap ask the user take height and breadth find the area of traingle**

In [61]:
h=10
b=20
area_of_triangle=0.5*b*h
print(f"the area triangle:{area_of_triangle}")

the area triangle:100.0

**wap ask the user take the bill amount and tip anount calculate total bill**

In [62]:
bill=200
tip=300
total_bill=bill+tip
print(f"total bill is:{total_bill}")

total bill is:500

**wap ask the user take the salary, percetage of tax calculate tax amount**

In [2]:
salary=100000
tax=20
tax_percentage=(tax/100)*salary
print(f"salary aften tax:{salary-tax_percentage}")

salary aften tax:80000.0

**wap ask the user take the value in dollar convert into rupees**

In [41]:
doller=50
ruppes=doller*80
print(f"The total amount of ruppes is :{ruppes}")

The total amount of ruppes is :4000

**wap ask the use take weight in kgs convert into pounds**

In [53]:
weight=60
pounds=weight*2.5
print(f"Weight in pounds is:{pounds}")

Weight in pounds is:150.0

In [4]:
# wap ask the user take the salary, percetage of tax calculate tax amount
bill_amount=100
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_amount=bill_amount+tip_amount
print(f"the total bill is :{total_amount}")

the total bill is :110.0

In [22]:
#wap ask the user take the value in dollar convert into rupees
dollar=5
ruppes_value=80
total=dollar*ruppes_value
print("total amount in ruppes :5$*80rs=400") #fix the write
print("total amount in ruppes:{}$*{}={}")   #apply curly 
print("total amount in ruppes:{dollar}$*{ruppes_value)={total}rs") # then fill the value 
print(f"toatal amount in ruppes :{dollar}$*{ruppes_value}={total}") #the fill the actual value of the code

total amount in ruppes :5$*80rs=400
total amount in ruppes:{}$*{}={}
total amount in ruppes:{dollar}$*{ruppes_value)={total}rs
toatal amount in ruppes :5$*80=400